.list-social__item-link {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    transition: border 0.3s ease;
}
.list-social__item-link:hover {
    border: 1px solid white;
}