.navigation-text {
    color: #000000;
    font-family: "Gilroy-Semibold";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    transition: color 0.2s;
}
.navigation-text:hover {
    color: #841eb6;
}