.main-heading {
    position: absolute;
    left: 30px;
    top: 109px;
    color: #000000;
    font-family: "Gilroy-Semibold";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}