.card-result__description {
    display: block;
    color: #000000;
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin: 29px 80px 0 80px;
}