.text {
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    color: #000000;
    font-family: "Gilroy-Regular";
}