.navigation__item-link_active {
    color: #841eb6;
    position: relative;
}

.navigation__item-link_active::before {
    content: '';
    display: block;
    width: 2px;
    height: 30px;
    background-color: #841eb6;
    position: absolute;
    top: -5px;
    left: -30px;
}